.navBar {
    width: 100vw;
    background-color: rgb(202, 50, 50);
    color: rgba(255, 255, 255, 0.473);
    font-size: 24px;
    padding: 5px;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  nav ul li {
    list-style-type: none;
    margin-right: 1em;
  }
  
  nav ul li:hover {
    color: rgba(0, 0, 0, 0.705)
  }
  
  nav ul li:active {
    background-color: rgb(128, 107, 0);
  }
  
  /* Welcome Section */
  
  .welcomeSection {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #eeeeee3b;
    padding: 1em;
  }